<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwl.anomalous">

    <application>
        <activity
            android:name=".AnomalousActivity"
            android:exported="false"
            android:process=":error_activity" />

        <provider
            android:name=".AnomalousProvider"
            android:authorities="${applicationId}.anomalousprovider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>